/** CSS DARK THEME PRIMARY COLORS */
$color-primary-100: #f3c623;
$color-primary-200: #f6cc46;
$color-primary-300: #f9d260;
$color-primary-400: #fcd878;
$color-primary-500: #fedf8f;
$color-primary-600: #ffe5a6;
/** CSS DARK THEME SURFACE COLORS */
$color-surface-100: #111111;
$color-surface-200: #272727;
$color-surface-300: #3e3e3e;
$color-surface-400: #565656;
$color-surface-500: #707070;
$color-surface-600: #8b8b8b;
/** CSS DARK THEME MIXED SURFACE COLORS */
$color-surface-mixed-100: #252116;
$color-surface-mixed-200: #3a362b;
$color-surface-mixed-300: #4f4c42;
$color-surface-mixed-400: #66635a;
$color-surface-mixed-500: #7e7b73;
$color-surface-mixed-600: #efefef;



// Elements
$white: #ffff;
$black: #000000;

// Spacing
$pad : 1em;
