*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    font-size: $baseFontSize;
    background: $color-surface-100;
    box-sizing: border-box;
    color: $color-surface-mixed-600;
}

img {
    max-width: 100%;
}


// editor css
.ck.ck-editor__main > .ck-editor__editable {
  background: transparent !important;
}